.button{
    -fx-background-color: #00363a;
    -fx-border-color: #ffff;
    -fx-border-width: 2px;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 0 100 100 0;
}
.button :hover{
    -fx-background-color: #428e92;
    -fx-text-fill: #0000;
    -fx-border-radius: 0 100 100 0;
}
.button :pressed{
    -fx-text-fill: white;
}
.button :selected{
    -fx-text-fill: white;
}
